# Enter the path for your changelog file.
changeLogFile=db-changelog.xml

#### Enter URL for the target database
liquibase.command.url=jdbc:mysql://localhost:3306/wrap
liquibase.command.username=
liquibase.command.password=

# Enter URL for the source database
liquibase.command.referenceUrl=
liquibase.command.referenceUsername=
liquibase.command.referencePassword=

liquibase.hub.mode=off
classpath=./libs/mysql-connector-j-8.1.0.jar
