<div>
    Welcome to WRAP, <%= first_name %>!

    <br /><br />

    <div>
        Thank you for signing up for the WRAP Application. Please click link below to confirm your email account
        and complete the registration process!
    </div>

    <br /><br />

    <div>
        <a href="<%= SITE_URL %>/auth/verifyEmail/<%= emailVerificationToken %>">
            Click here to confirm email account and finish WRAP account registration
        </a>
    </div>
</div>